<% content_for(:title, @tag.name) %>
<% content_for(:nav) do %>
<p><%= link_to "Home", posts_path %> | <%= link_to "Add New Post", new_post_path %> | <%= link_to "See All Tags", tags_path %> </p>
<% end %>

<h1>Tag: <%= @tag.name %></h1>

<h4>Posts including '<%= @tag.name %>' tag:</h4>
  <div>
  <% @posts.each do |post| %>
  <h3><%= link_to post.title, post_path(post) %></h3>
  <% end %>
  </div>

<hr>
<h4><%= link_to "Edit Tag", edit_tag_path(@tag) %> | <%= link_to "Delete Tag", tag_path(@tag), {:method => "delete"} %></h4>
