<% content_for(:title, "Home") %>

<% content_for(:nav) do %>
<p><%= link_to "Home", posts_path %> | <%= link_to "Add New Post", new_post_path %> | <%= link_to "See All Tags", tags_path %> </p>
<% end %>
<h1>All Posts</h1>

<center>
<div class="row">
  <% @posts.each do |post| %>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag("little-heart.png") %>
          <div class="caption">
            <h3><%= link_to post.title, post_path(post) %></h3>
            <p><%= image_tag("tag.png") %> <%= render post.tags %> <p>
          </div>
        </div>
    </div>
  <% end %>
</div>
</center>
