<% content_for(:title, "Yelena") %>

<% content_for(:nav) do %>
<p><%= link_to "Home", posts_path %> | <%= link_to "Add New Post", new_post_path %> | <%= link_to "See All Tags", tags_path %> </p>
<% end %>

<h1>All Posts</h1>
<% @posts.each do |post| %>
<h3><%= link_to post.title, post_path(post) %></h3>
  <div>
  Tags: <%= render post.tags %>
</div>
<% end %>
