<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<title><%= yield(:title) %></title>
  <div class="container">
    <body>
    <nav class="navbar">
        <h1><%= image_tag("parachute.png") %> The blog to be.</h1>
        <h4><%= yield(:nav) %></h4>
    </nav>
      <div class="user_nav">
        <p>
          <% if user_signed_in? %>
            Hi <%= current_user.email %> |
            <%= link_to "logout", destroy_user_session_path, method: :delete %>
          <% else %>
          <%= link_to "sign up", new_user_registration_path %> |
          <%= link_to "login", new_user_session_path %>
          <% end %>
      </p>
      </div>
      <%= yield %>
    <h2>
      <br>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
    </h2>
    </body>
  </div>
</html>
