<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <title>Yelena's Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<title><%= yield(:title) %></title>
  <div class="container">
    <body>
    <nav>
      <div class="Y">
        <%= image_tag("parachute.png") %> Yelena's Blog
      </div>
        <h2><%= yield(:nav) %></h2>
      <hr>
    </nav>
      <%= yield %>
    <h2>
      <br>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
    </h2>
    </body>
  </div>
</html>
