<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<title><%= yield(:title) %></title>
  <div class="container">
    <body>
    <nav class="navbar navbar-inverse">
      <div class="blog-title">
        <%= image_tag("parachute.png") %> Yelena's Blog
      </div>
        <h2><%= yield(:nav) %></h2>
    </nav>
      <%= yield %>
    <h2>
      <br>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
    </h2>
    </body>
  </div>
</html>
