<!DOCTYPE html>
<html>
<head>
  <title>Yelena's Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<title><%= yield(:title) %></title>
  <div class="container">
    <body>
      <nav>
        <h1>Yelena's Blog</h1>
          <%= yield(:nav) %>
        <hr>
      </nav>
      <%= yield %>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
    </body>
  </div>
</html>
